.Card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    float: left;
    border: 1px solid gray;
    margin: 5px ;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 3px black;
}

.Card img {
    width: 200px;
    height: 230px;
    padding-top: 5px;
}